<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pushApikey</key>
    <string>REPLACEME.push.apikey</string>
    <key>appidIam_apikey_name</key>
    <string>REPLACEME.appid.apikey.name</string>
    <key>appidClientId</key>
    <string>REPLACEME.appid.client_id</string>
    <key>appidIam_serviceid_crn</key>
    <string>REPLACEME.appid.serviceid_crn</string>
    <key>pushAppGuid</key>
    <string>REPLACEME.push.app.guid</string>
    <key>appidSecret</key>
    <string>REPLACEME.appid.secret</string>
    <key>pushIam_apikey_description</key>
    <string>hREPLACEME.appid.apikey.description</string>
    <key>pushIam_role_crn</key>
    <string>REPLACEME.push.iam_role_crn</string>
    <key>appidApikey</key>
    <string>REPLACEME.appid.apikey</string>
    <key>pushIam_apikey_name</key>
    <string>REPLACEME.push.apikey.name</string>
    <key>appidManagementUrl</key>
    <string>REPLACEME.appid.management_url</string>
    <key>appidDiscoveryEndpoint</key>
    <string>REPLACEME.appid.discovery_endpoint</string>
    <key>appidAppidServiceEndpoint</key>
    <string>https://us-south.appid.cloud.ibm.com</string>
    <key>appidIam_role_crn</key>
    <string>REPLACEME.appid.iam_role_crn</string>
    <key>pushUrl</key>
    <string>REPLACEME.push.url</string>
    <key>appidIam_apikey_description</key>
    <string>REPLACEME.appid.apikey.description</string>
    <key>appidProfilesUrl</key>
    <string>https://us-south.appid.cloud.ibm.com</string>
    <key>pushIam_serviceid_crn</key>
    <string>REPLACEME.push.serviceid_crn</string>
    <key>pushClientSecret</key>
    <string>REPLACEME.push.client_secret</string>
    <key>appidOauthServerUrl</key>
    <string>REPLACEME.appid.oauth_server_url</string>
    <key>pushPlan</key>
    <string>REPLACEME.push.plan</string>
    <key>appidTenantId</key>
    <string>REPLACEME.appid.tentant_id</string>
    <key>appName</key>
    <string>iosmbaasapp</string></dict>
</plist>
