<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appid</key>
	<dict>
		<key>apikey</key>
		<string>REPLACEME.appid.apikey</string>
		<key>iam_apikey_name</key>
		<string>REPLACEME.appid.apikey.name</string>
		<key>clientId</key>
		<string>REPLACEME.appid.client_id</string>
		<key>iam_serviceid_crn</key>
		<string>REPLACEME.appid.serviceid_crn</string>
		<key>secret</key>
		<string>REPLACEME.appid.secret</string>
		<key>managementUrl</key>
		<string>REPLACEME.appid.management_url</string>
		<key>discoveryEndpoint</key>
		<string>REPLACEME.appid.discovery_endpoint</string>
		<key>appidServiceEndpoint</key>
		<string>https://us-south.appid.cloud.ibm.com</string>
		<key>iam_role_crn</key>
		<string>REPLACEME.appid.iam_role_crn</string>
		<key>iam_apikey_description</key>
		<string>REPLACEME.appid.apikey.description</string>
		<key>profilesUrl</key>
		<string>https://us-south.appid.cloud.ibm.com</string>
		<key>oauthServerUrl</key>
		<string>REPLACEME.appid.oauth_server_url</string>
		<key>tenantId</key>
		<string>REPLACEME.appid.tentant_id</string>
	</dict>
	<key>push</key>
	<dict>
		<key>apikey</key>
		<string>REPLACEME.push.apikey</string>
		<key>appGuid</key>
		<string>REPLACEME.push.app.guid</string>
		<key>iam_apikey_description</key>
		<string>REPLACEME.appid.apikey.description</string>
		<key>iam_role_crn</key>
		<string>REPLACEME.push.iam_role_crn</string>
		<key>iam_apikey_name</key>
		<string>REPLACEME.push.apikey.name</string>
		<key>url</key>
		<string>REPLACEME.push.url</string>
		<key>iam_serviceid_crn</key>
		<string>REPLACEME.push.serviceid_crn</string>
		<key>clientSecret</key>
		<string>REPLACEME.push.client_secret</string>
		<key>plan</key>
		<string>REPLACEME.push.plan</string>
	</dict>
	<key>appName</key>
	<string>iosmbaasapp</string>
</dict>
</plist>
